<% provide(:title, 'All Users') %>

<% if params[:search].present? %>
  <h1>検索結果</h1>
<% else %>
  <h1>ユーザー一覧</h1>
<% end%>


<div class="col-md-10 col-md-offset-9">
<p>ユーザー検索</p>
<%= form_tag(users_path, :method => 'get') do %>
  <%= text_field_tag :search %><br>
  <%= submit_tag '検索', :name => nil, class: "btn btn-primary" %>
<% end %>
</diV>

<div class="csv">
  
</div>


    
    <% @users.each do |user| %>
      <p>
        <%= user.name %><br>
        <%= link_to "削除", user, method: :delete,
            data: { confirm: "#{user.name}を削除してよろしいですか？" },
            class: "btn btn-primary" %>
      </p>
    <% end %>