<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>
        <%= link_to "◀", user_path(date: @first_day.prev_month), class: "btn btn-primary btn-left" %>
        <%= l(@first_day, format: :middle) %> 
        時間管理表
        <%= link_to "▶", user_path(date: @first_day.next_month), class: "btn btn-primary btn-right" %>
      </td>
      <td>指定勤務時間 : <%= format_basic_info(@user.work_time) %></td>
    　<td colspan = "3">基本時間 : <%= format_basic_info(@user.basic_time) %></td>
    　<td>月初日 : <%= l(@first_day, format: :short) %></td>
    </tr>
    
    <tr>
      <td>所属 : <%= @user.department.present? ? @user.department : "未所属" %></td>
      <td>氏名 : <%= @user.name %></td>
      <td>コード</td>
      <td></td>
      <td>出勤日数 : <%= @worked_sum %>日</td>
      <td>月末日 : <%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
</div>


<div class="btn-users-show">
  <%= link_to "勤怠を編集", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-primary" %>
</div>


<div>
  <table class="table table-bordered table-striped table-condensed" id="table-attendances">
    <thead>
      <tr> <!--rowspan: 縦結合、colspan: 横結合-->
        <th rowspan = "2">日付</th>
        <th rowspan = "2">曜日</th>
        <th colspan= "3">出社</th>
        <th colspan= "3">退社</th>
        <th rowspan= "2">在社時間</th>
        <th rowspan= "2">備考</th> <!--カラム計算：今回の場合横結合分は3カラムで計算すると合計10カラムとなる-->
      </tr>
      <tr>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
        <th></th>
      </tr>
    </thead>
    
    <tbody>
      <% @attendances.each do |day| %>
        <%
        css_class =
        case $days_of_the_week[day.worked_on.wday]
        when '土'
          'text-primary'
        when '日'
          'text-danger'
        end
        %>
        <tr>
          <td><%= l(day.worked_on, format: :short) %></td> <!-- l: 2つ目の引数にformat: :～と記述することでフォーマットを指定できる -->
          <td class="<%= css_class %>"><%= $days_of_the_week[day.worked_on.wday] %></td> 
          <td><%= day.started_at.floor_to(15.minutes).to_s(:hour) if day.started_at.present? %></td> <!-- @userに紐付くattendanceモデルのレコードにstarted_atが存在するか確認-->
          <td><%= day.started_at.floor_to(15.minutes).to_s(:min) if day.started_at.present? %></td>
          <td>
            <% if (Date.current == day.worked_on) && day.started_at.nil? %>
              <%= link_to "出社", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>
            <% end %>
          </td>
          <td><%= day.finished_at.floor_to(15.minutes).to_s(:hour) if day.finished_at.present? %></td> <!--to_sメソッドは文字列以外のオブジェクトを文字列に変換する。数字を文字列に変換したり小数を変換するのに使用する-->
          <td><%= day.finished_at.floor_to(15.minutes).to_s(:min) if day.finished_at.present? %></td>
          <td>
            <% if (Date.current == day.worked_on) && day.started_at.present? && day.finished_at.nil? %> <!-- すべての条件がtrueである必要があるので&&演算子を使用してそれぞれの式を記述している-->
              <%= link_to "退社", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>
            <% end %>
          </td>
          <td>
            <% if day.started_at.present? && day.finished_at.present? %>
              <%= str_times = working_times(day.started_at.floor_to(15.minutes), day.finished_at.floor_to(15.minutes)) %>
              <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
            <% end %>
          </td>
          <td><%= day.note %></td>
        </tr>
      <% end %>
    </tbody>
    
    <tfood>
      <tr>
        <td colspan="2">累計日数</td>
        <td colspan="6">総合勤務時間</td>
        <td>累計在社時間</td>
        <td rowspan="2"></td>
      </tr>
      <tr>
        <td colspan="2"><%= @attendances.count %></td>
        <td colspan="6"><%= format_basic_info(@user.work_time).to_f * @worked_sum %></td> <!-- to_fメソッドは文字列を浮動小数点数とみなしてFloatオブジェクトに変換する。to_iメソッドの小数点付きバージョン。-->
        <td><%= format("%.2f", @total_working_times.to_f) %></td>
      </tr>
    </tfood>
  </table>
</div>